<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/main.min.css" media="all" />
	<link rel="home" href="{{ siteUrl }}" />
</head>
<body>
	<header>
		<div class="wrapper">
			<a title="" href="{{ siteUrl }}">{{ siteName }}</a>
		</div>
	</header>
	<nav>
		<div class="wrapper">
			<ul>
				<li><a href="/">À propos de la société</a></li>
				<li><a href="/work">Travailler avec nous</a></li>
				<li><a href="/contact">Nous contacter</a></li>
			</ul>
		</div>
	</nav>

	<div class="wrapper">
		{% block content %}{% endblock %}
	</div>

	<footer>
		<div class="wrapper">
			Copyright &copy; {{ now.year }} {{ siteName }}. All rights reserved
		</div>
	</footer>
	<script src="http://127.0.0.1:35729/livereload.js?ext=Firefox&amp;extver=2.0.8"></script>
</body>
</html>