/* Imports */
/*
 * override any configuration specified in _grid.scss here
 *
*/
/*
 * Allows you to use named media queries based on breakpoints list in _variables.scss
 *
 * [1] using "only all" in order to have ready made print stylesheets as per https://coderwall.com/p/n4vdmq
*/
/*
 * Gutter between grid units
 *
 * Use only fixed value (em, rem, px)
*/
/*
 * Breakpoints using nested SASS list
 *
 * - First parameter: name of the breakpoint (also used to namespace grid classes)
 * - Second parameter: content of media query for defined breakpoint
 * - Third parameter: generate namespaced grid classes based on breakpoint or not
 *   (you might want to define media queries but not use them for grids)
*/
/*
 * Push and Pull classes
 *
 * switch to "false" if you don't need them
*/
/*
 * Use silent classes
 *
 * switch to "true" if you want to use @extend and silent classes
*/
/*
 * Use silent classes or not
*/
/*
 * Define grid
 *
 * [1] grid usable on lists
 * [2] kill default padding and margin
 * [3] compensating left and right margins of left and rightmost grid_modules in grid
*/
/*
 * Grid units
 *
 * - 1. grid modules are 100% by default
 * - 2. allows for padding without modifying the box width
 * - 3. gutters created using padding
 * - 4. using inline-block to stack the modules side by side (comment out white space in html)
 * - 5. align top of modules
*/
/*
 * proportionnaly nudge things to the left
 *
 * - using relative positioning and left positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * proportionnaly nudge things to the right
 *
 * - using relative positioning and right positions
 * - combined with pull classes, this allows for more complex content choreography
*/
/*
 * In SASS, you cannot extend classes that are not in the same media queries / context
 *
 * - The code belows generate (silent) classes for all the defined media queries breakpoints
 * - This imply that you are using a mobile first approach
*/
/*
 * include basic non-namespaced (silent) classes without any media queries
*/
/*
 * include namespaced (silent) classes for all media queries
 *
 * - the use "with grids" parameter must be set to true when defining breakpoints in variables.scss
*/
@media only all and (min-width:46.875em) { }

@media only all and (min-width:71.25em) { }

/* Colors */
/* Fonts */
body {
  font: 16px/1.5 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0 auto;
  padding: 0 1.25em; }
  .wrapper.wrapper--nav {
    padding: 0; }
  @media only all and (min-width:71.25em) {
    .wrapper {
      width: 940px; } }

h1, h2 {
  color: #333;
  font-weight: 700;
  margin: 0 auto; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

header {
  background: #ffffff;
  font-size: 2em;
  padding: 0.25em 0; }
  header a {
    background: url(../img/logo-no-tagline.png) top left no-repeat;
    background-size: auto 100%;
    color: #222d60;
    display: block;
    font-weight: bold;
    height: 60px;
    width: 64px;
    margin: 0 auto;
    text-decoration: none;
    text-indent: -9999px; }
  @media only all and (min-width:71.25em) {
    header {
      font-size: 3em; }
      header a {
        background-image: url(../img/logo-medium.png);
        height: 120px;
        width: auto;
        margin: 0; } }

nav {
  background: #4b68bb;
  color: #ffffff;
  margin-bottom: 1em; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%; }
  nav li {
    border-bottom: 1px solid #222d60;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; }
    nav li:last-child {
      border: none; }
    @media only all and (min-width:71.25em) {
      nav li {
        border: none;
        float: left;
        text-align: left;
        width: auto; } }
    nav li a {
      color: #ffffff;
      display: block;
      padding: 0.5em;
      -webkit-transition: background 0.25s;
              transition: background 0.25s;
      text-decoration: none; }
      nav li a:hover {
        background: #222d60; }

form dl, form dd, form dt {
  padding: 0;
  margin: 0; }
form dd, form dt {
  margin: 0.25em 0; }
form label {
  font-weight: bold; }
form input, form textarea {
  background: #dee9f2;
  border: none;
  font-size: 0.8em;
  padding: 0.5em; }
form textarea {
  width: 90%; }
  @media only all and (min-width:46.875em) {
    form textarea {
      width: 40%; } }
form #message {
  height: 6em; }
form #address {
  height: 4.5em; }
form input[type=submit] {
  font-size: 1.2em; }
form #preferredLanguage {
  display: none; }

footer {
  background: #222d60;
  color: #ffffff;
  margin-top: 3em;
  padding: 1em 0;
  text-align: center; }
  @media only all and (min-width:71.25em) {
    footer {
      text-align: left; } }
