/* Imports */
@import "sassgrids/screen.scss";

/* Colors */
$darkBlue: #222d60;
$blue: #4b68bb;
$lightBlue: #dee9f2;
$white:#ffffff;

$headerBg: $white;
$headerLinks: $darkBlue	;

$navBg: $blue;
$navBorder: $darkBlue;
$navTxt: $white;
$navHoverBg: $darkBlue;

$footerBg: $darkBlue;
$footerTxt: $white;

body {
	font:16px/1.5 'Raleway', sans-serif;
	margin:0;
	padding:0;
}

.wrapper {
	margin:0 auto;

	@include mq(large) {
		width:940px;
	}
}

h1, h2 {
	color:#333;
	font-weight:700;
	margin:0 auto;
}

h1 {
	font-size:2em;
}

h2 {
	font-size:1.8em;
}

header {
	background:$headerBg;
	font-size:2em;
	padding:.25em 0;

	a {
		background:url(../img/logo-no-tagline.png) top left no-repeat;
		background-size: auto 100%;
		color:$headerLinks;
		display:block;
		font-weight:bold;
		height:60px;
		width:64px;
		margin:0 auto;
		text-decoration:none;
		text-indent: -9999px;
	}

	@include mq(large) {
		font-size:3em;

		a {
			background-image:url(../img/logo-medium.png);
			height:120px;
			width:auto;
			margin:0;
		}
	}


}

nav {
	background:$navBg;
	color:$navTxt;
	margin-bottom:1em;

	ul {
		margin:0;
		padding:0;
		list-style:none;
		overflow:hidden;
		width:100%;
	}

	li {
		border-bottom:1px solid $navBorder;
		font-style: italic;
		margin:0;
		padding:0;
		text-align:center;
		width:100%;

		&:last-child {
			border:none;
		}

		@include mq(large) {
			border:none;
			float:left;
			text-align:left;
			width:auto;
		}

		a {
			color:$navTxt;
			display:block;
			padding:.5em;
			transition:background .2s;
			text-decoration: none;

			&:hover {
				background:$navHoverBg;
			}
		}
	}
}

footer {
	background:$footerBg;
	color:$footerTxt;
	margin-top:3em;
	padding:1em 0;
}